@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}