@font-face
    font-family: "Montserrat"
    src: url("../fonts/Montserrat-Regular.ttf")
    font-weight: 400
    font-style: normal

@font-face
    font-family: "Montserrat"
    src: url("../fonts/Montserrat-Medium.ttf")
    font-weight: 500
    font-style: normal

@font-face
    font-family: "Montserrat"
    src: url("../fonts/Montserrat-Italic.ttf")
    font-weight: 400
    font-style: italic
    
$olvishi-red: #CD4D8A
$primary-bg: #FDFBF7
$secondary-bg: #F2F3ED
$third-bg: #4BA46E


* 
    box-sizing: border-box


body
    background: $primary-bg
    color: #232323
    font-family: "Montserrat"
    
a
    text-decoration: none
    color: #232323



h2
    font-size: 60px
    font-weight: 400

h3
    font-weight: 400

p, h3
    font-size: 24px


.box
    padding-left: 130px
    max-width: 80%

.header
    &__container
        padding-top: 20px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
    &__menu
        ul 
            display: flex
            flex-direction: row 
            list-style-type: none
            margin: 0
            padding: 0
        li
            margin-right: 40px
            font-size: 18px

            &:last-child
                margin-right: 0px

.quiz
    font-size: 24px
    background: $primary-bg

.first-section
    height: 800px
    display: flex
    flex-direction: column
    justify-content: center

    &__header
        font-weight: 400
        font-size: 72px
        margin-bottom: 30px
    &__order-button
        display: flex
    &__text
        margin-bottom: 60px
        font-size: 18px
        

.second-section
    height: 600px
    background: $secondary-bg
    display: flex
    flex-direction: column
    justify-content: center
    margin-bottom: 140px

    &__header
        margin-bottom: 40px

// .card

.card //общий класс для всех карточек
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    border-radius: 20px
    border: 1px

.third-section
    &__header
        margin-bottom: 80px
    
    &__cards-container
        height: 790px
        width: 1160px
        display: flex
        flex-direction: row
        justify-content: space-between

    &__wrapper
        display: flex
        flex-direction: column
        justify-content: space-between

    //left-wrapper cards

    &__left-top-card
        width: 400px
        height: 423px
        background: $secondary-bg
        border-color: $olvishi-red
 
    &__left-bottom-card
        width: 400px
        height: 317px
        background: $olvishi-red
    
    //center-wrapper cards
   
    &__center-top-card
        background: $secondary-bg
        border-color: $third-bg
    &__center-middle-card
        background: $third-bg
    &__center-bottom-card
        background: $secondary-bg
        border-color: $olvishi-red
    
    //right wrapper
    
    &__big-card
        height: 100%
        width: 341px
        background: $secondary-bg
        border-color: $olvishi-red
        
.s-card
    width: 348px
    height: 233px
.dash
    border-style: dashed

.white-text
    color: $primary-bg  


.big-button
    width: 308px
    height: 70px
    background: $olvishi-red
    border-radius: 80px
    border: 0
    font-size: 18px
    color: $primary-bg
    
.small-button
    width: 185px
    height: 46px
    border-radius: 80px
    border: 1px
    font-size: 18px
    margin-top: 30px

.pink-button
    background: $secondary-bg
    border-color: $olvishi-red
.white-button
    background: $olvishi-red
    border-color: $primary-bg
    color: $primary-bg
.green-button
    background: $third-bg
    border-color: $primary-bg
    color: $primary-bg
    
.fifth-section
    &__header
        margin: 140px 0px 80px 0px


.social-icons 
    display: flex
    list-style-type: none
    flex-direction: row
    margin: 50px 30px 0px 0px

.accordion-item
    background: $primary-bg
    border-top: none
    border-right: none
    border-left: none
    border-bottom: 1px solid #232323
    text-align: left 
    font-size: 18px
    font-weight: 400

.accordion-button:not(.collapsed)
    background-color: $primary-bg


.accordion-button
    height: 100px
.accordionText
    font-size: 18px
