@import url("/sass/fonts.scss")
    
$olvishi-red: #CD4D8A



// @font-face 
//     font-family:
//     src: url()


    


* 
    box-sizing: border-box


body
    background: #FDFBF7
    padding: 15px 200px

a
    text-decoration: none
    color: black

.header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    
    &__menu
        ul 
            display: flex
            flex-direction: row 
            list-style-type: none
            margin: 0
            padding: 0
            text-align: right
        li
            margin-right: 40px
            font-size: 18px

            &:last-child
                margin-right: 0px

.first-section
    height: 800px
    position: relative
    &__header
        font-family: "Montserrat"
        font-weight: 400
        font-size: 72px
        margin-bottom: 80px
    &__order-button
        display: flex
    &__order
        position: absolute
        top: 270px
        
     

.big-button
    width: 308px
    height: 70px
    background: $olvishi-red
    border-radius: 80px
    border: 0


        



