@font-face
    font-family: "Montserrat"
    src: url("../fonts/Montserrat-Regular.ttf")
    font-weight: 400
    font-style: normal

@font-face
    font-family: "Montserrat"
    src: url("../fonts/Montserrat-Medium.ttf")
    font-weight: 500
    font-style: normal

@font-face
    font-family: "Montserrat"
    src: url("../fonts/Montserrat-Italic.ttf")
    font-weight: 400
    font-style: italic

$olvishi-red: #8FA196
$primary-bg: #FDFBF7
$secondary-bg: #F2F3ED
$third-bg: #8799AA
$natural-black: #232323

:root
    --fs-h1: 1.3rem
    --bm: 30px


.nav-link
    color: $natural-black
.btn
    border-radius: 80px
    &-outline-bright   
        --bs-btn-color: #232323
        --bs-btn-border-color: #8FA196
        --bs-btn-hover-color: #FDFBF7
        --bs-btn-hover-bg: #8FA196
        --bs-btn-hover-border-color: #8FA196
        --bs-btn-focus-shadow-rgb: 220,53,69
        --bs-btn-active-color: #232323
        --bs-btn-active-bg: transparent
        --bs-btn-active-border-color: #8FA196
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
        --bs-btn-disabled-color: #8FA196
        --bs-btn-disabled-bg: transparent
        --bs-btn-disabled-border-color: #8FA196
        --bs-gradient: none
    &-outline-dark
        --bs-btn-color: #FDFBF7
        --bs-btn-border-color: #FDFBF7
        --bs-btn-hover-color: #232323
        --bs-btn-hover-bg: #FDFBF7
        --bs-btn-hover-border-color: transparent
        --bs-btn-focus-shadow-rgb: 220,53,69
        --bs-btn-active-color: #FDFBF7
        --bs-btn-active-bg: transparent
        --bs-btn-active-border-color: #FDFBF7
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
        --bs-btn-disabled-color: #8FA196
        --bs-btn-disabled-bg: transparent
        --bs-btn-disabled-border-color: #8FA196
        --bs-gradient: none




.container
    position: relative
    overflow: hidden



body, h1,h2,h3,p
    color: $natural-black
    margin: 0

body
    background: $primary-bg  
    font-family: "Montserrat"


a
    text-decoration: none

h1
    font-size: calc( var(--fs-h1) + 1.625vw )
    font-weight: 400

h2
    font-size: 22px
    font-weight: 400

h3, h4
    font-weight: 400

h3
    font-size: 48px
    

h4
    font-size: 18px
    margin-bottom: 20px
    

.bg-body-tertiary
    background-color: transparent!important
.header
    &__logo
        height: 50px
    &__nav-container
        padding-top: 15px
        display: flex
        flex-direction: row    
        justify-content: space-between
        align-items: center
.nav-item
    margin-right: 30px
    &:last-child
        margin: 0

.main-section
    &__block
        height: 600px
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center

        h1
            margin-bottom: 20px
   
    &__text
        margin-bottom: 40px

.quiz
    font-size: 14px
    background: $primary-bg

.main-section
    &__block
        height: 490px
        display: flex
        flex-direction: column
        justify-content: center
       
    &__order-button
        display: flex
    &__text
        margin-bottom: 40px
        font-size: 14px
        

.about-us
    height: 370px
    background: $secondary-bg
    display: flex
    flex-direction: column
    justify-content: center
    margin-bottom: 60px

    &__header
        margin-bottom: var(--bm)
    &__text
        font-size: 14px

// .card

.card //общий класс для всех карточек
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    border-radius: 20px
    border: 1px solid
    border-color: $olvishi-red
    background: transparent
    margin-bottom: 50px
    p
        margin-bottom: var(--bm) 

.wrapper
    display: flex
    flex-direction: column
    margin-right: 50px
    &:last-child
        margin: 0


.cards-section
    &__header
        margin-bottom: 50px
    
    &__cards-container
        margin-bottom: 60px
        height: 1200px
        max-width: 320px

  
    &__card-header
        margin-bottom: 30px
        
    &__left-top-card
        width: 300px
        height: 160px
 
    &__left-bottom-card
        width: 300px
        height: 160px
        background: $third-bg
    &__middle-top-card
        background: $olvishi-red

    &__big-card
        height: 160px
        width: 300px
   
.s-card
    width: 300px
    height: 160px

.white-text
    color: $primary-bg  

.order-button
    background: $olvishi-red
    width: 180px
    height: 45px
    font-size: 14px
    &:hover
        border-color: $olvishi-red
    &:active
        background: $olvishi-red!important
        border-color: $olvishi-red!important
 
    
.small-button
    width: 120px
    height: 30px
    font-size: 12px
    
.fifth-section
    &__header
        margin-bottom: 24px
    &__container
        margin-bottom: 60px

.contact-us
    background: $secondary-bg
    &__container
        height: 300px
        display: flex
        align-items: flex-start
        flex-direction: column
        justify-content: center
        p
            margin-bottom: 30px

    &__header
        margin-bottom: 10px
        
.footer
    &__license
        margin-right: 150px
        h6
            margin-bottom: 10px
        p
            margin-bottom: 20px
        a
            text-decoration: underline
            color:$natural-black
    &__container
        height: 300px
        display: flex
        flex-direction: column-reverse
        justify-content: space-evenly
        align-items: flex-start

    h6
        font-size: 14px
    p,a
        font-size: 12px
    &__contacts
        h3
            font-weight: 500
            margin-bottom: var(--bm)
        img
            height: 34px
        li
            margin-right: 15px!important
            &:last-child
                margin: 0!important
        
        


.social-icons 
    display: flex
    list-style-type: none
    flex-direction: row
    padding: 0
    
    li
        margin-right: 10px
    img
        height: 35px

        &:last-child
            margin: 0

.accordion-item
    background: $primary-bg
    border-top: none
    border-right: none
    border-left: none
    border-bottom: 1px solid $natural-black
    text-align: left 
    font-size: 18px
    font-weight: 400



.accordion-button
    height: 100px
    &:focus
        box-shadow: none

    &:not(.collapsed)
        background-color: $primary-bg
        color: $natural-black

.accordionText
    font-size: 12px

.modal
    // --bs-modal-width: 80%
    // max-width: 700px
    & *
        border: 0

    
    &-title
        font-size: 30px
        font-weight: 500
        margin-bottom: var(--bm)

    &-body
        padding: 0 50px
        text-align: left
        
@media  ( min-width: 576px  )
    :root
        --fs-h1: 3rem
    
@media  ( min-width: 1200px  )
    :root
        --bm: 40px       
